/* Extra small devices (phones, up to 480px) */
/* Test device - Any smartphone */
@media screen and (max-width: 767px) {
  html,
  body {
    position: fixed;
    overflow: hidden;
  }
  .impress-flex {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .practice-flex {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .learn-flex {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .section-wrapper {
  }
  section {
    -webkit-overflow-scrolling: touch;
  }

  .section-container {
    overflow-y: scroll;
    width: 85%;
    margin: 0 auto;
  }

  #scroll-overlay {
    display: none;
  }

  .scroll-overlay-fade-bottom {
    width: 100%;
    height: 20vh;

    background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0),
      rgba(245, 242, 208)
    );
  }
  .scroll-overlay-button {
    bottom: 10%;
  }
}
