/* large desktops and up ----------- */
/* Test device - desktop pc */
@media screen and (min-width: 1200px) {
  .container {
    padding-top: 0%;
    padding-bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }

  .section-wrapper {
    width: 50%;
    height: 50%;
  }
}
