html,
body {
  background: #000;
}

.container {
  width: 100%;
  height: 100vh;
  padding-top: 10%;
  padding-bottom: 10%;
}

.clickable {
  cursor: pointer;
}

.inactive {
  opacity: 0.2;
  filter: alpha(opacity=20);
}
