html,
body {
  background: #000;
  height: 100vh;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 12px; /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
#impress {
  transition: all 2s ease-in-out;
}

#practice {
  transition: all 2s ease-in-out;
}

.scroll-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.scroll-overlay-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.scroll-overlay-flex-vertical {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scroll-overlay-fade-bottom {
  width: 100%;

  height: 5vh;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0),
    rgba(245, 242, 208)
  );
}

.container {
  width: 100%;
  height: 100vh;
}

section {
  transition: all 0.5 ease;
}

.section-container {
  max-height: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.active {
  max-height: 58vh;
  height: 58vh;
}

.clickable {
  cursor: pointer;
}

.inactive {
  opacity: 0.2;
  filter: alpha(opacity=20);
  transition: all 0.5s ease;
}

.impress-right-side {
}

#impress-slideable {
  display: flex;
  flex-direction: row;
}

.impress-left-side {
}

.impress-description-text {
  font-family: "FiraSans-Book";
  color: #bdbbac;
  margin-block-start: -0.1em;
  letter-spacing: 1px;
}

.impress-trick-header {
  font-family: "FiraSans-Medium";
  color: #bdbbac;
  font-size: 1.5em;
}
.impress-rating-container {
  display: flex;
  flex-direction: column;
}

.impress-rating-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.impress-rating-category {
  font-family: "FiraSans-Regular";
  color: #bdbbac;
  font-size: 16pt;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.impress-rating-star {
  width: 24px;
  height: 24px;
}

.shuffle-image {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.video-preview {
  max-height: 100%;
  max-width: 100%;
}

.practice-flex {
  display: flex;
  flex-direction: row;
  margin-top: 1.5em;
}

.practice-left-side {
}

.section-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-head-text {
  font-family: "FiraSans-SemiBold";
  color: #bdbbac;
  font-size: 16pt;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.section-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-item-text {
  font-family: "FiraSans-Regular";
  color: #bdbbac;
  letter-spacing: 1px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.section-item-sets {
  font-family: "FiraSans-Regular";
  color: #bdbbac;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.section-item-info {
  font-family: "FiraSans-LightItalic";
  color: #bdbbac;
  text-decoration: underline;
  cursor: pointer;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.learn-flex {
  display: flex;
  flex-direction: row;
}

.learn-description-text {
  font-family: "FiraSans-Book";
  color: #bdbbac;
  margin-block-start: -0.1em;
  letter-spacing: 1px;
}

.small-header {
  font-size: 14pt;
}

.learn-two-images {
  display: flex;
  flex-direction: row;
}

.split-image {
  max-height: 50%;
  max-width: 50%;
}

.scroll-overlay-button {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.has-slider {
  overflow: hidden;
  width: 100%;
}

.slider {
  width: 300%;
}

.duration {
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}
