/* tablets/desktops and up ----------- */
/* Test device - iPad Pro */
@media (min-width: 992px) and (max-width: 1199px) {
  .impress-flex {
    display: flex;
    flex-direction: column;
  }
  .practice-flex {
    display: flex;
    flex-direction: column;
  }
  .learn-flex {
    display: flex;
    flex-direction: column;
  }
}
