/* Small devices (tablets, 768px and up) */
/* Test device - iPad */
@media (min-width: 768px) and (max-width: 991px) {
  .section-wrapper {
    width: 75%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .impress-flex {
    display: flex;
    flex-direction: column;
  }
  .practice-flex {
    display: flex;
    flex-direction: column;
  }
  .learn-flex {
    display: flex;
    flex-direction: column;
  }
  .video-preview {
    width: 100%;
  }

  #scroll-overlay {
    display: none;
  }

  section {
    -webkit-overflow-scrolling: touch;
  }

  .section-container {
    overflow-y: scroll;
  }
  .impress-trick-header {
    margin-left: 7.5%;
  }
}
